/*Sets border-box as the universal sizing mode*/
* {
  box-sizing: border-box;
}

/*Sets the body up as a flexbox container for the dunk card articles*/
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/*Styles each dunk card article container*/
article {
  font-family: Arial;
  flex-grow: 0;
  flex-basis: 30%;  
  border: 1px solid lightblue;
  margin: 10px;
}

/*Styles the dunk card titles*/
h1 {
  border: 1px dotted lightgray;
  text-align: center;
  padding: 10px;
  margin: 0;
}

/*Styles the dunk card images*/
img {
  display: block;
  width: 100%;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

/*Styles the dunk card descriptions*/
.description {
  text-align: justify;
  margin-left: 7px;
  margin-right: 7px;
}

/*Styles the dunk card availability*/
.availability {
  font-size: 0.9em;
  text-indent: 3px;
  color: yellow;
  background-color: gray;
}

/*Styles both the specification and pricing headers*/
.specs, .pricing {
  margin-left: 7px;
}

/*Styles the size, weight and number of items purchased text*/
.size, .weight, .one, .few, .many {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0 0 15px;
}

/*Styles the validity of size, prices and number text*/
.validity {
  font-size: 0.7em;
}

/*A horrible kludge to left align center-justified flex items*/
/*on lines without three items to display.*/
.empties {
  visibility: invisible;
  border: none;
}